* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
}

body, html {
    font: 1rem/1.8rem 'Roboto Slab', 'Georgia', serif;
}

 a {
     text-decoration: none;
}
 a:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
 }

 ul, ol, li {
    margin-top: 1rem;
    list-style-position: inside;
 }

p {
     color:#000;
     font-weight: 400;
     margin-top: 2rem;
}

figure {
    text-align: center;
}

figcaption p {
    color: #666;
    text-transform: uppercase;
    font-size: .8rem;
}

.container {
	display: flex;
	margin: 0 auto;
	width: 40%;
	height: 100%;
	justify-content: center;
	flex-direction: column;
	align-items: stretch; /* test */
}

.container > * {
	width: 100%;
}

.menu {
  color: #333;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border: 1px solid #fff;  /* For debugging */
}

.menu > .menu-items {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.menu-items > .menu-items-each {
	display: flex;
	margin-left: 1rem;
	text-transform: uppercase;
}

.menu > .lab-name {
	display: flex;
	justify-content: flex-start;
}

.header {
	display: flex;
}

.content {
	display: flex;
	/*align-items: center; */
	justify-content: space-between;
	flex-direction: column;
	padding: 2rem 0 5rem 0;
}

.content > * {
}

.header {
	 /*background-color:#f4f4f4;
	 border-left:4px solid #ccc;*/
	 font-family: 'Open Sans', 'Helvetica', sans-serif;
	 margin-top: 1.5rem;
	 /*color:#505050;*/
	 font-size:1.4rem;
	 line-height:2em;
	 /*padding:0px 0px 0px 10px;
	 #margin:0px 0px 10px 0px;*/
	}

.sub-header {
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	font-size: 1.2rem;
	font-weight: 300;

}

.index-intro {
	flex: 2;
}

.index-fig {
	flex: 1;
}

.lab-name {
     font-family: 'Open Sans', sans-serif;
     color:#555;
     line-height:38px;
     float:left;
     letter-spacing: 0.1rem;
     font-size:34px;
     font-weight:300 !important;
     text-transform: uppercase;
}

.research-item {
	display: flex;
	flex-direction: column;
}

.adjust-img {
	margin-top: 2rem;
}
.row {
	display: flex;
	justify-content: space-between;
}

.row-flex-auto {
	flex: initial;
}
.row-flex-1 {
	flex: 1;
}
.row-flex-2 {
	flex: 2;
}
.row-flex-3 {
	flex: 3;
}
.row-flex-4 {
	flex:4;
}
.row-order-1 {
	order: 1;
}
.row-order-2 {
	order: 2;
}

.people-cover {
    width:  12vh;
    height:  12vh;
    border-radius: 50%;
    background-position: center center;
    background-size:  cover;
    /*float: left;
    margin: .5rem;
	*/
 }

.people-category {
	flex-direction: column;

}
 .people, .tools {
	display: flex;
	margin-top: 2rem;
 }

 .people-details{
	display: flex;
	margin-left: 2rem;
	align-items: center;
 }

 .people-details > p {
	margin: 0;
 }


 .tools-head {
	flex: 1;
 }

 .tools-desc {
	flex: 4;
 }

.banner {
	display: flex;
}

.news {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	overflow: hidden;
}

.news-item {
	display: flex;
	flex-direction: column;
	width: 24%;
}

.news-desc {
	overflow: hidden;
	text-overflow: ellipsis;
}

.footer {
	display: flex;
	margin-bottom: 5rem;
	justify-content: space-between;
}
/*
#slideshow-1 , #slideshow-2, #slideshow-3 {
    margin: 3rem auto;
    position: relative;
    width: 240px;
    height: 240px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#slideshow-1 > div, #slideshow-2 > div, #slideshow-3 > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    width: 300px;
}
*/
.portfolio-item .portfolio-pic,
.portfolio-item #portfolio-video {
    overflow: hidden;
    display: block;
    position: relative;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #ededed;
}
.portfolio-item .portfolio-pic img {
    -webkit-transition: all 0.7s ease;
    -moz-transition:    all 0.7s ease;
    -o-transition:      all 0.7s ease;
    -ms-transition:     all 0.7s ease;
    transition:         all 0.7s ease;
}
.portfolio-item {
    margin-bottom: 20px;
    padding: 0;
    position: relative;
    overflow: hidden;
}