* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
  font-family: 'Roboto Slab', 'Georgia', serif;
  font-size: calc(12px + .2vw);
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
}

code, pre, kbd {
  font-family: monospace;
  background-color: lightgrey;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-style: dashed;
}

ul, ol, li {
  margin-top: 1rem;
  list-style-position: inside;
  }

p {
  color:#000;
  font-weight: 400;
  margin-top: 2rem;
  line-height: 1.8rem;
}

figure {
  text-align: center;
}

figcaption > * {
  color: #666;
  text-transform: uppercase;
  font-size: .6rem !important;
}

/* Generic class items */

.adjust-img {
  margin-top: 2rem;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.row-flex-auto {
  flex: initial;
}

.row-flex-1 {
  flex: 1;
}

.row-flex-2 {
  flex: 2;
}

.row-flex-3 {
  flex: 3;
}

.row-flex-4 {
  flex: 4;
}

.row-order-1 {
  order: 1;
}

.row-order-2 {
  order: 2;
}

.row-order-3 {
  order: 3;
}

.row-order-4 {
  order: 4;
}

.fixed {
  position: fixed;
  z-index: 999;
}

.no-decoration {
  text-decoration: none
}

/* Specific classes */

.banner-img {
  background: url(../assets/images/banner_long_med.png) no-repeat;
  width: 100%;
  height: 259px;
  margin-top: 2rem;
 }

.fixed-header {
  position: fixed;
  top: 0;
  width: 60% !important;
  max-width: 960px;
  z-index: 999;
  background-color: white;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 60%;
  max-width: 960px;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

.container > * {
  width: 100%;
}

.menu {
  color: #333;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border-bottom: 1px solid #EAEDF0;
}

.menu > .menu-items {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.menu-items > .menu-items-each {
	display: flex;
	margin-left: 1rem;
	text-transform: uppercase;
}

.menu > .lab-name {
	display: flex;
	justify-content: flex-start;
}

.content {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 2rem 0 5rem 0;
}

.content > * {
  /* nothing here */
}

.header {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  display: flex;
  margin-top: 1rem;
  font-size: 1.25rem;
  line-height: 2em;
}

.sub-header {
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	font-size: 1.1rem;
}

.lab-name {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  color: #f30;
  letter-spacing: 0.1rem;
  font-size:2rem;
  font-weight:300 !important;
  text-transform: uppercase;
}

.research-item {
	display: flex;
	flex-direction: column;
}

.portfolio {
  /* nothing here yet */
}

.port-image {
  display: flex;
  width: 25%;
  margin-left: 0;
  transition: transform 1s;
}

.port-image:hover {
  transform: scale(1.2);
}

.uofm {
	font-size: 1.4rem;
	top: 0;
	left: 0;
	box-shadow: 0 2px 0 rgba(93, 96, 99, .1);
	background-color: white;
	margin-bottom: 5rem;
}

.people-cover {
  width:  12vh;
  height:  12vh;
  border-radius: 50%;
  background-position: center center;
  background-size:  cover;
 }

.people-category {
	flex-direction: column;

}

.people, .tools {
	display: flex;
	margin-top: 2rem;
}

.people-details {
	display: flex;
	margin-left: 2rem;
	align-items: center;
}

.people-details > p {
	margin: 0;
}

.tools-head {
	flex: 1;
}

.tools-desc {
	flex: 4;
}

.banner {
	display: flex;
}

.news {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	overflow: hidden;
}

.news-item {
	display: flex;
	flex-direction: column;
	width: 24%;
}

.news-desc {
	overflow: hidden;
	text-overflow: ellipsis;
}

.footer {
	display: flex;
	margin: 5rem 0;
	justify-content: space-between;
  border-top: 1px solid #EAEDF0;
}
