---
title: People
layout: new
---

{% include_relative people_partial.html title="Principal Investigator" category="pi" %}
{% include_relative people_partial.html title="Staff" category="staff" %}
{% include_relative people_partial.html title="Visiting Scholars" category="visiting" %}
{% include_relative people_partial.html title="Postdoctoral Fellows" category="postdoc" %}
{% include_relative people_partial.html title="Doctoral Students" category="phd" %}
{% include_relative people_partial.html title="Emotional Support Animals" category="emotional_support_animals" %}
{% include_relative people_partial.html title="Doctoral Rotation Students" category="rotation" %}
{% include_relative people_partial.html title="Master's Students" category="ms" %}
{% include_relative people_partial.html title="Undergraduates" category="bs" %}
{% include_relative people_partial.html title="Interns" category="interns" %}
{% include_relative people_partial.html title="Alumni" category="alumni" %}
