{% assign count = '0' %}
{% for subtype in site.people %}
 {% if subtype.path contains include.category %}
  {% capture count %}{{ count | plus: '1' }}{% endcapture %}
 {% endif %}
{% endfor %}

{% if count != '0' %}

<div class="people-category">
  <div class="header">{{ include.title }}</div>

  {% for person in site.people %}
    {% if person.path contains include.category %}
    <div class="people">
      {% if person.picture %}
        <div class="people-cover" style="background-image: url('/assets/people/{{ person.picture }}"> </div>
      {% else %}
        <div class="people-cover" style="background-image: url('/assets/people/placeholder.jpg"> </div>
      {% endif %}

      <div class="people-details">
        <p>
          <b> {{ person.name }} </b> <br />
          {{ person.title }} <br />
        </p>
          <p class="people-social">
          {% if person.email %}
            <a href='mailto:{{ person.email }}' target='_blank'><i class="fas fa-at fa-lg"></i></a>
          {% endif %}
          {% if person.github %}
            <a href="https://github.com/{{ person.github }}" target='_blank'><i class="fab fa-github fa-lg"></i></a>
          {% endif %}
          {% if person.linkedin %}
            <a href='http://www.linkedin.com/{{ person.linkedin }}' target='_blank'><i class="fab fa-linkedin fa-lg"></i></a>
          {% endif %}
          {% if person.google-scholar %}
          <a href='http://scholar.google.com/citations?user={{ person.google-scholar }}' target='_blank'><i class='fab fa-google fa-lg'></i></a>
          {% endif %}
          {% if person.CV %}
            <a href='../assets/{{ person.CV }}' target='_blank'><i class="fas fa-file-pdf fa-lg"></i></a>
          {% endif %}
          {% if person.twitter %}
            <a href='http://twitter.com/{{ person.twitter }}' target='_blank'><i class="fab fa-twitter fa-lg"></i></a>
          {% endif %}
        </p>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>

{% endif %}
