---
title: People
layout: default
---

{% include_relative people_partial.html title="Principal Investigator" category="pi" %}
{% include_relative people_partial.html title="Postdoctoral Fellows" category="postdoc" %}
{% include_relative people_partial.html title="Doctoral Students" category="phd" %}
{% include_relative people_partial.html title="Masters Students" category="ms" %}
{% include_relative people_partial.html title="Undergraduates" category="bs" %}
{% include_relative people_partial.html title="Staff" category="staff" %}
{% include_relative people_partial.html title="Alumni" category="alumni" %}

