<div class="banner">
<!--
  <div id="slideshow-1">
     <div>
       <img src="//farm5.staticflickr.com/4408/36961751201_8b27211669_o.jpg">
     </div>
     <div>
       <img src="//farm6.static.flickr.com/5230/5638093881_a791e4f819_m.jpg">
     </div>
  </div>
    <div id="slideshow-2">
     <div>
       <img src="//farm6.static.flickr.com/5224/5658667829_2bb7d42a9c_m.jpg">
     </div>
     <div>
       <img src="//farm6.static.flickr.com/5230/5638093881_a791e4f819_m.jpg">
     </div>
  </div>
    <div id="slideshow-3">
     <div>
       <img src="//farm6.static.flickr.com/5224/5658667829_2bb7d42a9c_m.jpg">
     </div>
     <div>
       <img src="//farm6.static.flickr.com/5230/5638093881_a791e4f819_m.jpg">
     </div>
  </div>
-->
</div>
