{% assign current = page.url | downcase | split: '/' %}

<!DOCTYPE html>
<html>
<head>
<title>{{page.title}} | The Parker Lab</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<link rel='stylesheet' type='text/css' href='css/main_style.css' />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto+Slab:300,400,700" rel="stylesheet">

{% if current[1] == 'publications.html' %} {% include pub_buttons.html %} {% endif %}

<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>

{% include tracking.html %}

<script>
window.onload = function() {
  var a = document.getElementsByTagName('a');
  for (i = 0; i < a.length; i++) {
    if (a[i].hostname === location.hostname) {
      if (a[i].href.match(/(zip|dmg|txt|cfg|gz|pl|pdf)$/i)) {
        a[i].setAttribute('target', '_blank');
        a[i].onclick = function() {
          ga('send', 'event', 'Downloads', 'Click', this.getAttribute('href'));
        };
      }
    }
  }
}
</script>

</head>
<body class='short-header-page'>
<div id="header-wrap">
	<div class="container">
		<table id="header">
			<tr>
				<td id="header-right">
					<table>
						<tr>
							<td class="phone-number"><img src="assets/images/U-M_2color-HorizontalReversed.30px.png" height=30 alt="UM logo"></td>
							<td>
								<div style="text-align:left;">
									<span class="wsite-social">
									<a class='wsite-social-item wsite-social-flickr' href='http://scholar.google.com/citations?user=F4UZ_jIAAAAJ' target='_blank'></a><a class='wsite-social-item wsite-social-mail' href='mailto:scjp@umich.edu' target='_blank'></a>
									</span>
								</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div><!-- end container -->
</div><!-- end header-wrap -->  		
