{% assign current = page.url | downcase | split: '/' %}

<div id="nav-wrap">
	<div class="container">
		<table>
			<tr>
				<td><span id="wsite-title">The Parker Lab</span></td>
				<td id="nav">
					<div id="navigation">
						<ul class='wsite-menu-default'>
							<li {% if current[1] == 'index.html' %}id='active'{% endif %}><a href='index.html'>Home</a></li>
							<li {% if current[1] == 'research.html' %}id='active'{% endif %}><a href='research.html'>Research</a></li>
							<li {% if current[1] == 'people.html' %}id='active'{% endif %}><a href='people.html'>People</a></li>
							<li {% if current[1] == 'jobs.html' %}id='active'{% endif %}><a href='jobs.html'>Jobs</a></li>
							<li {% if current[1] == 'contact.html' %}id='active'{% endif %}><a href='contact.html'>Contact</a></li>
						</ul>
					</div>
				</td>
			</tr>
		</table>
	</div><!-- end container -->
</div><!-- end nav-wrap -->
