{% assign current = page.url | downcase | split: '/' %}
<div class="menu">
    <a href="http://theparkerlab.org" style="text-decoration: none">
        <span class='lab-name'>The Parker Lab</span>
    </a>
    <div class='menu-items'>
        <div class='menu-items-each' {% if current[-1]=='research' %}id='active' {% endif %}><a href='/research'>Research</a></div>
        <div class='menu-items-each' {% if current[-1]=='news' %}id='active' {% endif %}><a href='/news'>News</a></div>
        <div class='menu-items-each' {% if current[-1]=='publications' %}id='active' {% endif %}><a href='/publications'>Publications</a></div>
        <div class='menu-items-each' {% if current[-1]=='people' %}id='active' {% endif %}><a href='/people'>People</a></div>
        <div class='menu-items-each' {% if current[-1]=='tools' %}id='active' {% endif %}><a href='/tools'>Tools</a></div>
        <div class='menu-items-each' {% if current[-1]=='jobs' %}id='active' {% endif %}><a href='/jobs'>Jobs</a></div>
        <div class='menu-items-each' {% if current[-1]=='contact' %}id='active' {% endif %}><a href='/contact'>Contact</a></div>
    </div>
</div>
