{% assign current = page.url | downcase | split: '/' %}

<!DOCTYPE html>
<html lang='en'>

  {% include header.html %}

  <body>
    <div class="container">
      {% include uofm.html %}

      {% include nav.html %}

      {% include banner.html %}

      <div class="content">
        {{content}}
      </div>

      {% include footer.html %}
    </div>
  </body>
  <!--
  <script>
    $(window).scroll(function(){
    if ($(window).scrollTop() >= 100) {
            $('.menu').addClass('fixed-header');
        $('.banner').css('padding-top', $('.menu').outerHeight());
        $('.fixed-header').css('width', $('.container').width())
        }
        else {
            $('.menu').removeClass('fixed-header');
        $('.banner').css('padding-top', 0);

        }
    });
  </script>
  -->
</html>
